/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: 'Ubuntu Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/* font-family: 'Nunito', sans-serif; */

/* css variable */
:root {
    /* color */
    --color-100: #323232;
    --color-200: #ECECEC;
    --color-300: #ea8386;
    --color-danger: #EB5353;
    --color-sucess: #94B49F;
    /* spacing */
    --spacing-100: 2px;
    --spacing-200: 4px;
    --spacing-300: 6px;
    --spacing-400: 8px;
    --spacing-500: 10px;
    /* font size */
    --fs-000: 0.875rem;
    --fs-100: 1rem;
    --fs-200: 1.125rem;
    --fs-300: 1.25rem;
    /* border radius */
    --br-100: 5px;
    --br-200: 10px;
}

/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 0.1s;
    scroll-behavior: smooth;
    /* border: 1px solid green; */
}

/* default style */
body {
    height: auto;
    margin: 10% 0 5% 0;
    font-family: 'Nunito', sans-serif;
    font-size: var(--fs-100);
    background-color: var(--color-100);
}
i {
    font-size: 24px;
}

/* utility css */
.flex-default {
    display: flex;
    align-items: center;
    justify-content: center;
}
.todo-list .sucess:hover {
    color: var(--color-200);
    background-color: var(--color-sucess);
    border: 2px solid var(--color-sucess);
}
.todo-list .danger:hover {
    color: var(--color-200);
    background-color: var(--color-danger);
    border: 2px solid var(--color-danger);
}
.done {
    font-style: italic;
    text-decoration: line-through;
    color: var(--color-100) !important;
    background-color: var(--color-sucess);
    border: 2px solid var(--color-sucess) !important;
}
.todo-button {
    margin: 0 var(--spacing-100);
    padding: var(--spacing-300);
    color: var(--color-200);
    background-color: var(--color-100);
    border: 2px solid var(--color-200);
    border-radius: var(--br-200);
    cursor: pointer;
} 
.todo-button:hover { 
    color: var(--color-300);
    background-color: var(--color-200);
    border: 2px solid var(--color-200);
}

/* container */
.todo-container {
    width: 90%;
    height: auto;
    padding: var(--spacing-500);
    /* background-color: var(--color-200);
    border-radius: 10px; */
}

/* todo title container */
.todo-title-container {
    width: 100%;
    height: 150px;
    margin: var(--spacing-500) 0;
    text-align: center;
    color: var(--color-100);
}
.todo-title {
    flex: 4;
    height: 100%;
    padding: var(--spacing-500);
    margin: 0 var(--spacing-100);
    font-size: 3rem;
    font-family: 'Pacifico', cursive; 
    color: var(--color-300);
    background-color: var(--color-200);
    border-radius: var(--br-200);
}
.todo-count-container {
    flex: 1;
    height: 100%;
    margin: 0 var(--spacing-100);
    padding: var(--spacing-500);
    border: 2px solid var(--color-200);
    border-radius: var(--br-200);
    color: var(--color-200);
    flex-direction: column;
}
.todo-count {
    height: 60%;
    font-size: 4rem;
    color: var(--color-300);
    margin-bottom: var(--spacing-500);
}
.todo-count-container hr {
    width: 100%;
}
.todo-count-container p {
    height: 20%;
    margin-top: var(--spacing-500);
    font-size: var(--fs-300);
    font-weight: bold;
}

/* input container */
.todo-input-container {
    width: 100%;
    margin: var(--spacing-500) 0;
}
#todo-input {
    width: 100%;
    padding: var(--spacing-500);
    margin: 0 var(--spacing-100);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: var(--color-200);
    background-color: var(--color-100);
    border: 2px solid var(--color-200);
    border-radius: var(--br-200);
}
#todo-input::placeholder {
    color: var(--color-200);
}
#todo-input:focus::placeholder {
    color: transparent;
    background-color: transparent;
}
#todo-input:focus {
    outline: none;
    color: var(--color-200);
    background-color: var(--color-100);
}

/* list container */
.todo-list-container {
    height: auto;
    margin: var(--spacing-200) 0;
}
.todo-list {
    margin: var(--spacing-500) 0;
    align-items:flex-start;
}
.todo-list-text {
    margin: 0 var(--spacing-100);
    padding: var(--spacing-500);
    font-size: var(--fs-000);
    font-weight: 600;
    color: var(--color-300);
    border:2px solid var(--color-200);
    border-radius: var(--br-200);
    word-wrap: break-word;
}
.todo-list p {
    width: 80%;
}

/* responsive breakpoints */
@media screen and (min-width: 600px) {
    .todo-container {
        width: 70%;
    }
}
@media screen and (min-width: 768px) {
    .todo-container {
        width: 60%;
    }
}
@media screen and (min-width: 992px) {
    .todo-container {
        width: 50%;
    }
}
@media screen and (min-width: 1200px) {
    .todo-container {
        max-width: 500px;
    }
}
